body {
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
}

#photo {
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    width: 150px;
    margin-bottom: 10px;
}

h1, h2, h3, h4,p {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0px;
    background: #EFB0C9;
    padding: 4px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    text-align: inherit;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(Images/gift-cover.jpg);
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url(Images/happy.gif);
}

#gift-img-hot:hover {
    background-image: url(Images/hot.gif);
}

#gift-img-genius:hover {
    background-image: url(Images/genius.gif);

}

#gift-img-badass:hover {
    background-image: url(Images/badass.gif);
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url(Images/cheers.gif);
}

#footer{
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}

a {
    color: white;
}